.global-search {
  padding:10px;
  text-align:center;
}
.advanced-search {
  text-align: center;
}
.global-search .form-control {
  width:500px;
  display:inline-block;
}
.search-link{
  display: block;
  text-align: center;
}
.btn{
  background-color: #4285F4;
  border: none
}

.muscles {
  float: left;
}
.equipment {
  width: -moz-calc(100% - 920px);
  width: -webkit-calc(100% - 920px);
  width: calc(100% - 920px);
  float: right;
  margin-right: 130px;
}
.equipment label {
  margin-bottom: 20px;
  border: solid black;
}

.equipment input:checked + label {
  border: solid blue;
}
.equipment input {
  display: none;
}
.equipment img {
  width: 100%;
  height: 130px;
}

/*Exercise Planner Heading*/
#heading {
	font-size: 55px;
	font-family:Futura;
	color: #4285F4;
}

/*Images*/
.exercises {
  width: 250px;
  height: 250px;
}

/*Simple + Advanced Page Stuff*/
body {
  background-image: url("/static/images/workout3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.header {
  background-color: #fff;
  background-color: rgba(255,255,255, 0.95);
  margin-bottom: 10px;
  border: 2px solid black;
}


h4 {
  font-weight: bolder;
  font-size: 20px;
}

.content {
  text-align: center;
  background-color: #fff;
  background-color: rgba(255,255,255, 0.95);
  margin-bottom: 10px;
  border: 2px solid black;
}

.container {
  background-color: #fff;
  background-color: rgba(255,255,255, 0.95);
  margin-bottom: 10px;
  padding-right: 20px;
  border: 2px solid black;
  text-align: center;
}

.ordered{
  display: none !important;
}

#heading {
  color: black;
  font-size: 100px;
}

.links {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  display: inline;
}

/*   BODY DIAGRAM    */
#bodypartTable2 {
  float: left;
  width: 790px;
  height: 500px;
  background:url(./images/exercisedatabase_background1.jpg) 0 no-repeat;
}
#bodypartTable2 input {
  display: none;
}
.buttonTableLeft {
  margin-top:45px;
  height: 500px;
  float:left;
  width:130px;
  margin-left:105px;
}
#exercisebiceps {
  margin-top:50px;
}
#exerciseback {
  margin-top:80px;
}
#exerciseglutes {
  margin-top:40px;
}
#exerciselowerlegs {
  margin-top:60px;
}
.buttonTableMiddle {
  text-align:center;
  float:left;
  margin-top:480px;
  width:260px;
}
.buttonTableRight{
  margin-top:50px;
  height: 500px;
  float:left;
  width:200px;
  margin-left:40px;
}
#exercisechest {
  margin-top:55px;
}
#exerciseforearms {
  margin-top:45px;
}
#exerciseabs {
     margin-top:55px;
}
#exerciseupperlegs {
  margin-top:90px;
}
.exercisebutton {
  -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 0px 0px;
  border-radius: 5px;
  border-bottom-color: #333;
  border: 1px solid #1A79AD;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 0px 0px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  padding-left:14px;
  padding-right:14px;
  padding-bottom: 25px;
  padding-top:10px;
}
.whiteButton {
    background-color: #eee;
    color: #2F9DD8;
}
.whiteButton:hover {
  cursor:pointer;
  background-color: #ccc;
}
.blueButton {
  background-color: #2F9DD8;
  color: #FFFFFF;
}
.blueButton:hover{
    background-color: #2190C7;
    cursor:pointer;
}

/*AUTOCOMPLETE*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/**STAR RATING
Credits: https://codepen.io/Bluetidepro/pen/GkpEa
**/
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 50px;
  width: 100px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  margin: 0 auto;
}

.star-ratings-css-top{
    color:  #FFD700;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.highlight {
  background-color: #FFFF00;
  font-weight: bold;
}



/**Toggle Switch: https://www.w3schools.com/howto/howto_css_switch.asp**/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch #ordered {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}