@media (min-width:400px){
.global-search {
padding:10px;
text-align:center;
}
body {
padding-top: 2.5%;
padding-bottom: 15px;
}
.advanced-search {
text-align: center;
width:500px;
margin: auto;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
}
}
.search-link{
display: block;
text-align: center;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}

.output {
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
}

.images {
  height: 100%;
  margin-left: -5%;
}

img {
  width: 49%;
}