<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <form class="form advanced-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                Exercise Planner
            </h1>

            <br><br>

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Exercise name">
            </div>
            <div class="form-group">
                <select name="muscles" >
                    {% if muscles %}
                        {% for m in muscles %}
                            <option value="{{m}}">{{m}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <select name="equipment" >
                  {% if equipment %}
                        {% for e in equipment %}
                            <option value="{{e}}">{{e}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <input type="checkbox" name="routine" value="routine"> I want a routine<br>
            </div>

            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <a class="search-link" href="/">simple search </a>

    </body>

</html>