<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/autocomplete.js"></script>
    </head>

    <script>
        window.onload = function() {
            autocomplete(document.getElementById("input"), {{autocomplete|tojson}});
        }
    </script>

    <body>
        <form class="form-inline global-search">
            <h1 id="heading">
                Exercise Planner
            </h1>
            <br>

            <h2><a target="_blank" href="https://exercise-planner1.herokuapp.com/">Version 1</a></h2>

            <br><br>

            <div class="form-group">
                <div class="autocomplete">
                    <input autocomplete="off" id="input" type="text" name="search" class="form-control" placeholder="Example: core workouts">
                </div>
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <a class="search-link" href="{{ url_for('irsystem.advanced') }}">advanced search </a>
        <form class="form-inline global-search">
            <div class="form-group">
                {% if output_message %}
                    <h1>{{output_message}}</h1>
                    <br>
                {% endif %}
                {% if original_query %}
                    <h5>Did you want to search for: <a href="?search={{original_query}}&suggest=false">{{original_query}}</a></h5>
                {% endif %}
            </div>
        </form>

        <div class="container">
        {% if data %}
            {% for d in data %}
                <div id="output{{loop.index}}" class="row justify-content-lg-center">
                    <h2>{{d['name']}}</h2>
                        <h3>Average User Score: {{d['rating']}}
                            <div class="star-ratings-css" title = "{{d['rating']}}%">
                                <div class="star-ratings-css-top" style="width: {{d['rating']}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                <div class="star-ratings-css-bottom" ><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            </div>
                        </h3>


                    <div class="col-lg-6">
                        {% if d['image'] %}
                            {% for i in d['image'] %}
                                <img class="exercises" src="{{i}}">
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        {% if d['muscles'] %}
                            <h4>Muscle Groups</h4>
                            {% for m in d['muscles'] %}
                                <p> {{m}} </p>
                            {% endfor %}
                        {% endif %}
                        {% if d['equipment'] %}
                            <h4>Equipment Needed</h4>
                            {% for e in d['equipment'] %}
                                <p> {{e}} </p>
                            {% endfor %}
                        {% endif %}
                        {% if d['description'] %}
                            <h4>Instructions</h4>
                            <p>{{d['description']}}</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-2">
                        {% if d['top5Routines'] %}
                            <h4>Suggested routines that includes the exercise</h4>
                            {% for r in d['top5Routines'] %}
                                <a  target="_blank" href="{{r['routineURL']}}">{{r['routineName']}}</a>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </body>


</html>