<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/js/autocomplete.js"></script>
    </head>

    <script>

        window.onload = function() {
            autocomplete(document.getElementById("input"), {{autocomplete|tojson}});

            if (getUrlParameter('search')) {
                $('.container').show();
            } else {
                $('.container').hide();
            }
        }

        $(function() {
            $('#order').click(function() {
                if ($('#order').is(':checked')) {
                    var hideunordered = document.getElementsByClassName("unordered"); 
                    for(var i = 0; i < hideunordered.length; i++){
                        hideunordered[i].style.cssText = "display: none !important"; 
                    }
                    var showordered = document.getElementsByClassName("ordered"); 
                    for(var i = 0; i < showordered.length; i++){
                        showordered[i].style.cssText = "display: block !important"; 
                    }
                } 
                else {
                    var showunordered = document.getElementsByClassName("unordered"); 
                    for(var i = 0; i < showunordered.length; i++){
                        showunordered[i].style.cssText = "display: block !important"; 
                    }
                    var hideordered = document.getElementsByClassName("ordered"); 
                    for(var i = 0; i < hideordered.length; i++){
                        hideordered[i].style.cssText = "display: none !important"; 
                    }
                }
            });
        });

    </script>

    <body>

        <div class="header" style="margin-bottom: 10px;">
            <form class="form-inline global-search">
                <h1 id="heading">
                    Exercise Planner
                </h1>
                <br>
                <p class="links"><a target="_blank" href="https://exercise-planner1.herokuapp.com/">Prototype 1</a></p>
                <br>
                <p class="links"><a target="_blank" href="https://exercise-planner1-v2.herokuapp.com/">Prototype 2</a></p>
                <br>
                <p class="links"><a class="search-link" href="{{ url_for('irsystem.advanced') }}">Advanced Search</a></p>
                <br><br>
                <div class="form-group">
                    <div class="autocomplete">
                        <input autocomplete="off" id="input" type="text" name="search" class="form-control" placeholder="Example: Cable Decline Press">
                    </div>
                </div>
                <button type="submit" class="btn btn-info"> Go! </button> 
                <div> 
                    <br>
                <label class="switch">
                   <input id="order" type="checkbox">
                  <span class="slider round"></span> 
                </label>
                Order by Rating
            </div> 
            </form>

            <form class="form-inline global-search">
                <div class="form-group">
                    {% if output_message %}
                        <h1>Search Query: {{output_message}}</h1>
                        <br>
                    {% endif %}
                    {% if original_query %}
                        <h5>Did you want to search for: <a href="?search={{original_query}}&suggest=false">{{original_query}}</a></h5>
                    {% endif %}
                </div>
            </form>
        </div>

        {% if data %}
            {% for d in data %}
            <div class="container unordered">
                <div class="row justify-content-lg-center output">
                    <h2>{{d['name']}}</h2>
                        <h3>Average User Score: {{"No User Ratings" if d['rating'] == 0 else '{0:.2f}'.format(d['rating'])}}
                            <div class="star-ratings-css" title = "{{d['rating']}}%">
                                <!-- Credits to: https://codepen.io/Bluetidepro/pen/GkpEa-->
                                <div class="star-ratings-css-top" style="width: {{d['rating']}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                <div class="star-ratings-css-bottom" ><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            </div>
                        </h3>

                    <div class="col-lg-6">
                        {% if d['image'] %}
                            {% for i in d['image'] %}
                                <img class="exercises" src="{{i}}">
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        {% if d['muscles'] %}
                            <h4>Muscle Groups</h4>
                            {% for m in d['muscles'] %}
                                <p> {{m}} </p>
                            {% endfor %}
                        {% endif %}
                        {% if d['equipment'] %}
                            <h4>Equipment Needed</h4>
                            {% for e in d['equipment'] %}
                                <p> {{e}} </p>
                            {% endfor %}
                        {% endif %}
                        {% if d['description'] %}
                            <h4>Instructions</h4>
                            <p>{{d['description']}}</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-2">
                        {% if d['top5Routines'] %}
                            <h4>Suggested routines that include the exercise</h4>
                            {% for r in d['top5Routines'] %}
                                <a  target="_blank" href="{{r['routineURL']}}">{{r['routineName']}}</a>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        {% if dataorder %}
            {% for d in dataorder %}
            <div style="display: none" class="container ordered">
                <div class="row justify-content-lg-center output">
                    <h2>{{d['name']}}</h2>
                        <h3>Average User Score: {{"No User Ratings" if d['rating'] == 0 else '{0:.2f}'.format(d['rating'])}}
                            <div class="star-ratings-css" title = "{{d['rating']}}%">
                                <!-- Credits to: https://codepen.io/Bluetidepro/pen/GkpEa-->
                                <div class="star-ratings-css-top" style="width: {{d['rating']}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                <div class="star-ratings-css-bottom" ><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            </div>
                        </h3>

                    <div class="col-lg-6">
                        {% if d['image'] %}
                            {% for i in d['image'] %}
                                <img class="exercises" src="{{i}}">
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        {% if d['muscles'] %}
                            <h4>Muscle Groups</h4>
                            {% for m in d['muscles'] %}
                                <p> {{m}} </p>
                            {% endfor %}
                        {% endif %}
                        {% if d['equipment'] %}
                            <h4>Equipment Needed</h4>
                            {% for e in d['equipment'] %}
                                <p> {{e}} </p>
                            {% endfor %}
                        {% endif %}
                        {% if d['description'] %}
                            <h4>Instructions</h4>
                            <p>{{d['description']}}</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-2">
                        {% if d['top5Routines'] %}
                            <h4>Suggested routines that include the exercise</h4>
                            {% for r in d['top5Routines'] %}
                                <a  target="_blank" href="{{r['routineURL']}}">{{r['routineName']}}</a>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

    </body>

    {% if output_message %}
        <script>
            $( document ).ready(function() {
                $('.output').each(function() {
                var query = "{{output_message}}".split(" ");
                for (var i = 0; i < query.length; i++) {
                    term = query[i];
                    if (term.length > 0){
                        searchregexp = new RegExp("\\b" + term + "\\b", "gi");
                        $(this).html($(this).html().replace(searchregexp,"<span class = 'highlight'>"+term+"</span>"));
                    }
                }
                });
            });
        </script>
    {% endif %}
</html>