<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/main.css">
    </head>

    <body>
        <form class="form-inline global-search">
            <h1 id="heading">
                Exercise Planner
            </h1>

            <br><br>

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <a class="search-link" href="{{ url_for('advanced') }}">advanced search </a>
        <form class="form-inline global-search">
            <div class="form-group">
                {% if output_message %}
                    <h1>{{output_message}}</h1>
                    <br>
                {% endif %}
            </div>
        </form>

        <div class="container">
        {% if data %}
            {% for d in data %}
                <div id="output{{loop.index}}" class="row justify-content-lg-center">
                    <h2>{{d['name']}}</h2>
                    <div class="col-lg-6">
                        {% if d['image'] %}
                            {% for i in d['image'] %}
                                <img style="width:250px; height:250px;" class="exercises" src="{{i}}">
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {% if d['muscles'] %}
                            <h4>Muscle Groups</h4>
                            {% for m in d['muscles'] %}
                                <p> {{m}} </p>
                            {% endfor %}
                        {% endif %}
                        {% if d['equipment'] %}
                            <h4>Equipment Needed</h4>
                            {% for e in d['equipment'] %}
                                <p> {{e}} </p>
                            {% endfor %}
                        {% endif %}
                        {% if d['description'] %}
                            <h4>Instructions</h4>
                            <p>{{d['description']}}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </body>

</html>